In [6]:
import os
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
database_dir = os.path.abspath(os.path.join(os.getcwd(), "..", "database"))
db_path = os.path.join(database_dir, 'flowers.db')
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [7]:
# SQL INNER JOIN
cursor.execute('''
    SELECT F.CommonName, CG.LightRequirements, CG.WateringSchedule
    FROM Flowers F
    INNER JOIN CareGuides CG ON F.FlowerID = CG.FlowerID
''')
inner_join_result = cursor.fetchall()

# Print the result in a formatted way
print("Inner Join Result:")
for row in inner_join_result:
    print("CommonName:", row[0])
    print("LightRequirements:", row[1])
    print("WateringSchedule:", row[2])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Inner Join Result:
CommonName: Rose
LightRequirements: Full Sun
WateringSchedule: Regular
------------------------------
CommonName: Tulip
LightRequirements: Partial Sun
WateringSchedule: Moderate
------------------------------
CommonName: Sunflower
LightRequirements: Full Sun
WateringSchedule: Frequent
------------------------------
CommonName: Daisy
LightRequirements: Full Sun
WateringSchedule: Regular
------------------------------

In [8]:
# SQL LEFT JOIN
cursor.execute('''
    SELECT F.CommonName, P.PurchaseDate, P.Quantity
    FROM Flowers F
    LEFT JOIN Purchases P ON F.FlowerID = P.FlowerID
''')
left_join_result = cursor.fetchall()

# Print the result in a formatted way
print("Left Join Result:")
for row in left_join_result:
    print("CommonName:", row[0])
    print("PurchaseDate:", row[1])
    print("Quantity:", row[2])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Left Join Result:
CommonName: Rose
PurchaseDate: 2023-08-25
Quantity: 10
------------------------------
CommonName: Tulip
PurchaseDate: 2023-07-15
Quantity: 25
------------------------------
CommonName: Sunflower
PurchaseDate: 2023-06-02
Quantity: 5
------------------------------
CommonName: Daisy
PurchaseDate: 2023-07-01
Quantity: 12
------------------------------
CommonName: Carnation
PurchaseDate: None
Quantity: None
------------------------------

In [9]:
# SQL RIGHT JOIN
cursor.execute('''
    SELECT P.PurchaseDate, P.Quantity, F.CommonName
    FROM Purchases P
    LEFT JOIN Flowers F ON P.FlowerID = F.FlowerID
''')
right_join_result = cursor.fetchall()

# Print the result in a formatted way
print("Right Join Result:")
for row in right_join_result:
    print("PurchaseDate:", row[0])
    print("Quantity:", row[1])
    print("CommonName:", row[2])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Right Join Result:
PurchaseDate: 2023-08-25
Quantity: 10
CommonName: Rose
------------------------------
PurchaseDate: 2023-07-15
Quantity: 25
CommonName: Tulip
------------------------------
PurchaseDate: 2023-06-02
Quantity: 5
CommonName: Sunflower
------------------------------
PurchaseDate: 2023-08-10
Quantity: 8
CommonName: None
------------------------------
PurchaseDate: 2023-07-01
Quantity: 12
CommonName: Daisy
------------------------------

In [10]:
# Simulated FULL OUTER JOIN using UNION of LEFT JOIN and RIGHT JOIN
full_outer_join_query = '''
    SELECT F.CommonName, P.PurchaseDate, P.Quantity
    FROM Flowers F
    LEFT JOIN Purchases P ON F.FlowerID = P.FlowerID
    UNION
    SELECT F.CommonName, P.PurchaseDate, P.Quantity
    FROM Purchases P
    LEFT JOIN Flowers F ON P.FlowerID = F.FlowerID
    WHERE F.FlowerID IS NULL
'''
full_outer_join_result = cursor.execute(full_outer_join_query).fetchall()

# Print the result in a formatted way
print("Full Outer Join Result:")
for row in full_outer_join_result:
    print("CommonName:", row[0])
    print("PurchaseDate:", row[1])
    print("Quantity:", row[2])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Full Outer Join Result:
CommonName: None
PurchaseDate: 2023-08-10
Quantity: 8
------------------------------
CommonName: Carnation
PurchaseDate: None
Quantity: None
------------------------------
CommonName: Daisy
PurchaseDate: 2023-07-01
Quantity: 12
------------------------------
CommonName: Rose
PurchaseDate: 2023-08-25
Quantity: 10
------------------------------
CommonName: Sunflower
PurchaseDate: 2023-06-02
Quantity: 5
------------------------------
CommonName: Tulip
PurchaseDate: 2023-07-15
Quantity: 25
------------------------------