In [19]:
import os
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
database_dir = os.path.abspath(os.path.join(os.getcwd(), "..", "database"))
db_path = os.path.join(database_dir, 'flowers.db')
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [21]:
# SQL SELECT
cursor.execute('SELECT * FROM Flowers')
select_result = cursor.fetchall()

# Print the result in a formatted way
for row in select_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------
FlowerID: 2
CommonName: Tulip
ScientificName: Tulipa
Family: Liliaceae
Color: Various
BloomSeason: Spring
------------------------------
FlowerID: 3
CommonName: Sunflower
ScientificName: Helianthus
Family: Asteraceae
Color: Yellow
BloomSeason: Summer
------------------------------
FlowerID: 4
CommonName: Lily
ScientificName: Lilium
Family: Liliaceae
Color: White
BloomSeason: Summer
------------------------------
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------

In [22]:
# SQL SELECT DISTINCT
cursor.execute('SELECT DISTINCT Color FROM Flowers')
distinct_result = cursor.fetchall()

# Print the distinct colors
print("Distinct Colors:")
for row in distinct_result:
    print(row[0])

# Close the cursor and connection
# cursor.close()
# conn.close()

Distinct Colors:
Red
Various
Yellow
White

In [23]:
# SQL WHERE
cursor.execute("SELECT * FROM Flowers WHERE BloomSeason = 'Spring'")
where_result = cursor.fetchall()

# Print the result in a formatted way
print("Flowers Blooming in Spring:")
for row in where_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Flowers Blooming in Spring:
FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------
FlowerID: 2
CommonName: Tulip
ScientificName: Tulipa
Family: Liliaceae
Color: Various
BloomSeason: Spring
------------------------------
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------

In [24]:
# SQL ORDER BY
cursor.execute('SELECT * FROM Flowers ORDER BY CommonName ASC')
order_by_result = cursor.fetchall()

# Print the result in a formatted way
print("Flowers Ordered by CommonName:")
for row in order_by_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Flowers Ordered by CommonName:
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------
FlowerID: 4
CommonName: Lily
ScientificName: Lilium
Family: Liliaceae
Color: White
BloomSeason: Summer
------------------------------
FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------
FlowerID: 3
CommonName: Sunflower
ScientificName: Helianthus
Family: Asteraceae
Color: Yellow
BloomSeason: Summer
------------------------------
FlowerID: 2
CommonName: Tulip
ScientificName: Tulipa
Family: Liliaceae
Color: Various
BloomSeason: Spring
------------------------------

In [25]:
# SQL AND
cursor.execute("SELECT * FROM Flowers WHERE Color = 'Red' AND BloomSeason = 'Spring'")
and_result = cursor.fetchall()

# Print the result in a formatted way
print("Red Flowers Blooming in Spring:")
for row in and_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Red Flowers Blooming in Spring:
FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------

In [26]:
# SQL OR
cursor.execute("SELECT * FROM Flowers WHERE Color = 'Red' OR Color = 'White'")
or_result = cursor.fetchall()

# Print the result in a formatted way
print("Red or White Flowers:")
for row in or_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Red or White Flowers:
FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------
FlowerID: 4
CommonName: Lily
ScientificName: Lilium
Family: Liliaceae
Color: White
BloomSeason: Summer
------------------------------
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------

In [27]:
# SQL NOT
cursor.execute("SELECT * FROM Flowers WHERE NOT Color = 'Red'")
not_result = cursor.fetchall()

# Print the result in a formatted way
print("Non-Red Flowers:")
for row in not_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Non-Red Flowers:
FlowerID: 2
CommonName: Tulip
ScientificName: Tulipa
Family: Liliaceae
Color: Various
BloomSeason: Spring
------------------------------
FlowerID: 3
CommonName: Sunflower
ScientificName: Helianthus
Family: Asteraceae
Color: Yellow
BloomSeason: Summer
------------------------------
FlowerID: 4
CommonName: Lily
ScientificName: Lilium
Family: Liliaceae
Color: White
BloomSeason: Summer
------------------------------
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------

In [28]:
# SQL INSERT INTO
insert_query = '''
    INSERT INTO Flowers (FlowerID, CommonName, ScientificName, Family, Color, BloomSeason)
    VALUES (?, ?, ?, ?, ?, ?)
'''
new_flower_data = (6, 'Carnation', 'Dianthus', 'Caryophyllaceae', 'Pink', 'Summer')
cursor.execute(insert_query, new_flower_data)
conn.commit()

# Print a message indicating the insertion
print("New flower inserted successfully!")

# Close the cursor and connection
# cursor.close()
# conn.close()

New flower inserted successfully!

In [29]:
# SQL SELECT to fetch the inserted data
select_inserted_flower_query = '''
    SELECT *
    FROM Flowers
    WHERE FlowerID = ?
'''
inserted_flower_id = 6
cursor.execute(select_inserted_flower_query, (inserted_flower_id,))
inserted_flower_data = cursor.fetchone()

# Print the inserted flower data
if inserted_flower_data:
    print("Inserted Flower Data:")
    print("FlowerID:", inserted_flower_data[0])
    print("CommonName:", inserted_flower_data[1])
    print("ScientificName:", inserted_flower_data[2])
    print("Family:", inserted_flower_data[3])
    print("Color:", inserted_flower_data[4])
    print("BloomSeason:", inserted_flower_data[5])
else:
    print("Inserted flower not found!")

# Close the cursor and connection
# cursor.close()
# conn.close()

Inserted Flower Data:
FlowerID: 6
CommonName: Carnation
ScientificName: Dianthus
Family: Caryophyllaceae
Color: Pink
BloomSeason: Summer

In [30]:
# SQL UPDATE
update_query = "UPDATE Flowers SET Color = 'Yellow' WHERE FlowerID = ?"
flower_id_to_update = 3
cursor.execute(update_query, (flower_id_to_update,))
conn.commit()

# Print a message indicating the update
print("Flower color updated successfully!")

# Close the cursor and connection
# cursor.close()
# conn.close()

Flower color updated successfully!

In [31]:
# SQL SELECT to fetch the updated data
select_updated_flower_query = '''
    SELECT *
    FROM Flowers
    WHERE FlowerID = ?
'''
cursor.execute(select_updated_flower_query, (flower_id_to_update,))
updated_flower_data = cursor.fetchone()

# Print the updated flower data
if updated_flower_data:
    print("Updated Flower Data:")
    print("FlowerID:", updated_flower_data[0])
    print("CommonName:", updated_flower_data[1])
    print("ScientificName:", updated_flower_data[2])
    print("Family:", updated_flower_data[3])
    print("Color:", updated_flower_data[4])
    print("BloomSeason:", updated_flower_data[5])
else:
    print("Updated flower not found!")

# Close the cursor and connection
# cursor.close()
# conn.close()

Updated Flower Data:
FlowerID: 3
CommonName: Sunflower
ScientificName: Helianthus
Family: Asteraceae
Color: Yellow
BloomSeason: Summer

In [32]:
# SQL DELETE
delete_query = "DELETE FROM Flowers WHERE FlowerID = ?"
flower_id_to_delete = 4
cursor.execute(delete_query, (flower_id_to_delete,))
conn.commit()

# Print a message indicating the deletion
print("Flower deleted successfully!")

# Close the cursor and connection
# cursor.close()
# conn.close()

Flower deleted successfully!

In [33]:
# SQL GROUP BY
cursor.execute('SELECT BloomSeason, COUNT(*) FROM Flowers GROUP BY BloomSeason')
group_by_result = cursor.fetchall()

# Print the result in a formatted way
print("Flowers Count Grouped by BloomSeason:")
for row in group_by_result:
    print("BloomSeason:", row[0])
    print("Count:", row[1])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Flowers Count Grouped by BloomSeason:
BloomSeason: Spring
Count: 3
------------------------------
BloomSeason: Summer
Count: 2
------------------------------

In [34]:
# SQL HAVING
cursor.execute('SELECT BloomSeason, COUNT(*) FROM Flowers GROUP BY BloomSeason HAVING COUNT(*) >= 2')
having_result = cursor.fetchall()

# Print the result in a formatted way
print("BloomSeasons with At Least 2 Flowers:")
for row in having_result:
    print("BloomSeason:", row[0])
    print("Count:", row[1])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

BloomSeasons with At Least 2 Flowers:
BloomSeason: Spring
Count: 3
------------------------------
BloomSeason: Summer
Count: 2
------------------------------

In [35]:
# SQL LIKE
cursor.execute("SELECT * FROM Flowers WHERE CommonName LIKE '%flower%'")
like_result = cursor.fetchall()

# Print the result in a formatted way
print("Flowers with 'flower' in CommonName:")
for row in like_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Flowers with 'flower' in CommonName:
FlowerID: 3
CommonName: Sunflower
ScientificName: Helianthus
Family: Asteraceae
Color: Yellow
BloomSeason: Summer
------------------------------

In [36]:
# SQL IN
cursor.execute("SELECT * FROM Flowers WHERE Color IN ('Red', 'White')")
in_result = cursor.fetchall()

# Print the result in a formatted way
print("Red or White Flowers:")
for row in in_result:
    print("FlowerID:", row[0])
    print("CommonName:", row[1])
    print("ScientificName:", row[2])
    print("Family:", row[3])
    print("Color:", row[4])
    print("BloomSeason:", row[5])
    print("-" * 30)  # Separator between rows

# Close the cursor and connection
# cursor.close()
# conn.close()

Red or White Flowers:
FlowerID: 1
CommonName: Rose
ScientificName: Rosa
Family: Rosaceae
Color: Red
BloomSeason: Spring
------------------------------
FlowerID: 5
CommonName: Daisy
ScientificName: Bellis
Family: Asteraceae
Color: White
BloomSeason: Spring
------------------------------